.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


ul{
  list-style: none;
}

.countryDiv {
background-color: grey;
padding-top: 5%;
padding-bottom: 5%;
border: solid 2px black;
margin-bottom: 5px;
}

.btnClass {
  background-color: green;
  width: 100px;
  height: 50px;
  margin: 10px;
  border-radius: 5%;
  font-size: large;

}

.dropClass {
  width: 100px;
  height: 50px;
  margin: 10px;
  border-radius: 5%;
  font-size: x-large;

}

.center{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
